.input {
  width: 2.87rem;
  height: 2.87rem;
  border-radius: 0.43rem;

  background-color: #ebebfc;
  border: 2px solid hsl(240, 62%, 62%);
  color: hsl(240, 62%, 62%);

  text-transform: uppercase;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;

  outline: none; /* tira a borda preta ao clicar */
}

.input::placeholder {
  color: #6363db;
}
